#container {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  /* word-wrap: break-word; */
  /* background: linear-gradient(-120deg, red, blue); */
  /* background: repeating-linear-gradient(to top left, red, blue 10px); */
  background: radial-gradient(red, cyan, blue);
}
