body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #c7d4d4;
}

h1 {
  color: #333;
}

#emoji-options {
  margin: 25px 0;
}

.emoji-btn {
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: #e6f8f831;
}

.emoji-btn:hover {
  transform: scale(1.2);
}

#result-message {
  font-size: 25px;
  font-weight: bold;
}

#random-emoji {
  font-size: 50px;
  margin: 20px;
}

#play-btn {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #e6f8f831;
  transition: ease-in-out 0.2s;
  display: none;
}

#play-btn:hover {
  background-color: #8fa7a7;
}
